@charset "UTF-8";

*{
    margin: 0;
    padding: 0;

}
@font-face{
    font-family: 'longhaul';
    src: url(fonts/Longhaul.ttf);
    font-weight: normal;
    font-style: normal;
}

:root{
    --fonte1:'longhaul', sans-serif;
    --rosa:#e478ff;
    --verde: #8ce994;
}

body{
    display: grid;
    grid-template-areas: 
    "header header header"
    "aside main main"
    "footer footer footer"
    ;
    grid-template-columns: auto 1fr;     /* o auto define a largura já definida na classe */
}

/* CABEÇALHO */

header.cabecalho{
    grid-area: header;
    background-color: var(--rosa);
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.cabecalho__titulo{
    text-align: center;
    font-family:var(--fonte1);
    font-size: 4rem;
    color: var(--verde);
    text-transform: uppercase;
    padding-top: 10px;
}

.cabecalho__nav{
    text-align: center;
    padding-bottom: 10px;
    
}

.cabecalho__menu--item{
    padding-left: 20px;
    font-family: var(--fonte1);
    color: rgb(39, 39, 167);
    font-size: 1.5em;
    text-decoration: none;
    
}

.cabecalho__menu--item:hover{
    color: var(--verde);
    transition: 1s;
}


/* MENU LATERAL */

aside.menu-lateral{
    grid-area: aside;
    padding: 2.5rem;
    font-weight: 400;
    background-color: var(--rosa);
    position: fixed;
    overflow-y: scroll;
    direction:rtl; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3d23448f;
    border-radius: 10px;
  }

.container__artistas{  /* Centralização das imagens*/
    text-align: center;
    text-decoration: none;
    align-items: center;
    white-space: nowrap;
    padding-bottom: 100px;
    
}

.container__imagens{ /**imagens**/
    width: 10vw;
    padding-top: 20px;
}

main.container_principal{
    grid-area: main;
    background-color: #8be99352;
}

footer.rodape{
    grid-area: footer;

}