@charset "UTF-8";

*{
    margin: 0;
    padding: 0;

}
@font-face{
    font-family: 'longhaul';
    src: url(fonts/Longhaul.ttf);
    font-weight: normal;
    font-style: normal;
}

:root{
    --fonte1:'longhaul', sans-serif;
    --rosa:#e478ff;
    --verde: #8ce994;
}

body{
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 
    "header header header"
    "aside main main"
    "footer footer footer"
    ;
    grid-template-columns: auto 1fr;     /* o auto define a largura já definida na classe */
    
}

/* CABEÇALHO */

header.cabecalho{
    grid-area: header;
    background-color: var(--rosa);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    width: 100vw;
}


.cabecalho__titulo{
    text-align: center;
    font-family:var(--fonte1);
    font-size: 4rem;
    color: var(--verde);
    text-transform: uppercase;
    padding-top: 10px;
}

.cabecalho__nav{
    text-align: center;
    white-space: nowrap;
}

.cabecalho__menu--item{
    padding-left: 20px;
    font-family: var(--fonte1);
    color: rgb(39, 39, 167);
    font-size: 1.5em;
    text-decoration: none;
    
}

.cabecalho__menu--item:hover{
    color: var(--verde);
    transition: 1s;
}


/* MENU LATERAL */

aside.menu-lateral{
    grid-area: aside;
    padding: 0 1rem;
    background-color: var(--rosa);
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}


.container__artistas{  /* Centralização das imagens*/
    text-align: center;
    text-decoration: none;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    font-size: 0.5rem;
    display: flex;
    flex-direction: column;
}

.container__artistas> a:hover{
    color: var(--verde);
    transition: 1s;
}

.descricao__artista{
    font-family: var(--fonte1);
    text-align: center;
    padding-bottom: 12px;
    margin-top: 12px;

}

.container__imagens{ /**imagens**/
    width: 8.5vw;
    padding-top: 20px;
}

/* MAIN */

main.container_principal{
    grid-area: main;
    background-color: #8be99352;
    
}

.container__titulo{
    text-align: center;
    margin-top: 5px;
    font-family: var(--fonte1);
    color: navy;
}

.container__secao{
    

}

.container__secao--div{
    display: flex;
    gap: 20px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    white-space: nowrap;
}

.container__secao--img{
    width: 20vw;
    padding-top: 20px;

}

.container__secao--img:nth-child(1){
    margin-left: 15px;
}

footer.rodape{
    grid-area: footer;

}