@charset "UTF-8";

:root{
    --fonte1:'longhaul', sans-serif;
    --rosa:#e478ff;
    --verde: #8ce994;
}


*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

@font-face{
    font-family: 'longhaul';
    src: url(fonts/Longhaul.ttf);
    font-weight: normal;
    font-style: normal;
}

body, html{
    background-color: #8be99352;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
.icon{
    font-weight: 800;
    font-size: 3rem;
    color: #e478ff;
}

.icon:hover{
    color: navy;
    transition: 1s;
}

.icon-back{
    font-weight: 800;
    
}


section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   /*Centralizar conteúdo */
    background-color: #e478ff;
    width: 250px;
    height: 500px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    background: #8be99352 url(../imagens/logo2.jpg) no-repeat;
    background-position: center;
    height: 200px;
    background-size: cover;
    display: block;
}

section#login > div#formulario{
    padding: 10px;
    display: block;
}

div#formulario > h1{
    font-family: longhaul;
    color: #8ce994;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

div#formulario > p{
    font-size: 0.8em;

}

div#formulario > form > label{
    display: block;
    
}

.campo{
    font-size: 0.8em;
    margin: 5px 0 10px 0;    
    padding: 5px 0 0 0;
    border: 2px solid #8ce994;
    border-radius: 3px;
}

.campo > span{
    
    color: #8ce994;
    font-weight: bolder;
    font-size:2em ;
    width: 40px ;
    padding: 5px;
}

.campo > input{
    width: calc(100% - 50px);
    transform: translateY(-10px);
    font-size: 1em;
    height: 30px;
    border: none;
    border-radius: 3px;

}

.campo > label{
    display: none;
}



form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    padding: 15px 0 15px 0;
    background-color: #8ce994;
    color: #e478ff;
    cursor: pointer;
    font-family: 'longhaul';
    border-radius: 5px;
    border: none;
}

form > input[type=submit]:hover{
    color: rgb(39, 39, 167);
    transition: 1s;
}


.botao{
    display: block;
    color: #b25fc7;
    background-color:#8ce994;
    text-align: center;
    margin-top: 5px;
    padding: 15px 0 15px 0;
    text-decoration: none;
    font-family: var(--fonte1);
    border-radius: 5px;
}



.botao:hover{
    color: rgb(39, 39, 167);
    transition: 1s;
}

/* FOOTER */
footer{
    background-color: var(--rosa);
    color: var(--verde);
    text-align: center;
    font-weight: bolder;
    padding: 5px;
    word-spacing: 2px;
}

footer >p > a{
    text-decoration: none;
    font-weight: bolder;
}

footer > p >a:hover{
    color: var(--verde);
    transition: 1s;

}


@media screen and (min-width: 768px) and (max-width:992px){
	/*tablet*/
    section#login{
        width: 80%;
        
    }

    section#login > div#imagem{
        float: right;
        width: 40%;
        height: 100%;
    }

    section#login > div#formulario{
        float: left;
        width: 60%;

    }

}

@media screen and (min-width:992px){
	/*desktop*/
    section#login{
        width: 990px;
        
    }

    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario{
        float: left;
        width: 50%;

    }

    div#formulario > p{
        font-size: 1.2em;
    
    }

    .campo{
        font-size: 1.2em;
    }

}


