@charset "UTF-8";

*{
    margin: 0;
    padding: 0;

}
@font-face{
    font-family: 'longhaul';
    src: url(fonts/Longhaul.ttf);
    font-weight: normal;
    font-style: normal;
}

:root{
    --fonte1:'longhaul';
    --rosa:rgb(228, 120, 255);
    --verde: #8CE994;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

header{
    background-color:var(--rosa);

}

header > h1{
    text-align: center;
    font-family:var(--fonte1);
    font-size: 100px;
    color: var(--verde);
    font-variant: small-caps;
}

header > nav{
    text-align: center;
    padding-top: 20px;
}

header > nav > a{
    padding-left: 20px;
    font-family: var(--fonte1);
    color: rgb(39, 39, 167);
    font-size: 1.5em;
    text-decoration: none;
}

header > nav > a:hover{
    color: var(--verde);
    transition: 1s;
}

.img-menu{  /* Centralização das imagens*/
    text-align: center;
    text-decoration: none;
}

.img-menu > a:hover{
    color: var(--verde);
    transition: 1s;
}

.imgs{ /*Configuração geral das imagens do menu*/
    display: inline-block;
    text-decoration: none;
    padding-left: 3px;
    
}

.imgs > p {
    font-family: var(--fonte1);
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 12px;
    margin-top: 12px;
}




.frank, .tyler, .post{ /**imagens**/
    width: 17vw;
    padding-top: 20px;
}



