@charset "UTF-8";

*{
    margin: 0;
    padding: 0;

}
@font-face{
    font-family: 'longhaul';
    src: url(fonts/Longhaul.ttf);
    font-weight: normal;
    font-style: normal;
}

:root{
    --fonte1:'longhaul';
    --rosa:#e478ff;
    --verde: #8ce994;
}



main{
    background-color: #8be99352;
    padding-top:10px ;
}

/* CABEÇALHO */

header{
    background-color:var(--rosa);
    
}

.cabecalho__titulo{
    text-align: center;
    font-family:var(--fonte1);
    font-size: 100px;
    color: var(--verde);
    text-transform: uppercase;
    padding-top: 10px;
}



.cabecalho__nav{
    text-align: center;
    padding-top: 20px;
}

.cabecalho__menu--item{
    padding-left: 20px;
    font-family: var(--fonte1);
    color: rgb(39, 39, 167);
    font-size: 1.5em;
    text-decoration: none;
}

.cabecalho__menu--item:hover{
    color: var(--verde);
    transition: 1s;
}

/* IMAGENS DE ARTISTAS */

.cabecalho__menu{
    overflow-x: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3d23448f;
    border-radius: 10px;
  }

.container__artistas{  /* Centralização das imagens*/
    display: flex;
    gap: 20px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    white-space: nowrap;
}

.container__artistas> a:hover{
    color: var(--verde);
    transition: 1s;
}

.container__links:nth-child(1){ 
    margin-left: 15px;
    
}

.container__links{
    text-decoration: none;

}

.descricao__artista{
    font-family: var(--fonte1);
    text-align: center;
    padding-bottom: 12px;
    margin-top: 12px;
}

.container__imagens{ /**imagens**/
    width: 10vw;
    padding-top: 20px;
}

/* CORPO */

article{
    max-width: 90vw;
    /* background-color: #8ce99452; */
    background-color: #e478ff60;
    margin: auto;
    padding: 4px;
    line-height: 25px;
    margin-top: 10px;
    border-radius: 10px;
}
.container__cont{
    display: grid;
    grid-template-columns: 50% 50%;
}   

.titulo__cont{
    text-align: center;
    color: navy;
    font-family: var(--fonte1), Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-top: 25px;
}

.container__subtitulo{
    text-align: center;
    color: navy;
    font-family: var(--fonte1), Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-top: 25px;
    

}



.cont{
    margin-top: 5px;
    padding: 30px;
    
}

.cont p{
    text-indent: 10px;
    
}

.cont > p > a{
    text-decoration: none;
    font-weight: bolder;
    padding: 2px;
}

.cont > p > a:hover{
    color: #8CE994;
    transition: 1s;
    background-color: var(--rosa);
    border-radius: 2px;
    
}


.container__video{
    text-align: center;
    
}



footer{
    background-color: var(--rosa);
    color: var(--verde);
    text-align: center;
    font-weight: bolder;
    padding: 5px;
    word-spacing: 2px;
}

footer >p > a{
    text-decoration: none;
    font-weight: bolder;
}

footer > p >a:hover{
    color: var(--verde);
    transition: 1s;

}

@media screen and (max-width: 768px){
    .container__cont{
        display: block;

    }
   
    .descricao__artista{
        display: none;
    }

    .container__imagens{
        width: 15vw;
    }

    .video--item{
        width: 300px;

    }

}