@use '../../abstract/mixins';
@use '../../abstract/variaveis';

footer {
    background-color: var(--rosa);
    color: var(--verde);
    text-align: center;
    font-weight: bolder;
    padding: 5px;
    word-spacing: 2px;

    a {
        text-decoration: none;
        font-weight: bolder;
    }
    a:hover {
        color: var(--verde);
        transition: 1s;
    
    }

}